p {
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Helvetica;
}

#translateBackButton {
    position: absolute;
    top: 10px;
    left: 900px;
    background: #EEE;
    width: 210px;
    height: 30px;
    color: #444;
}

#translateForwardButton {
    position: absolute;
    top: 60px;
    left: 900px;
    background: #EEE;
    width: 210px;
    height: 30px;
    color: #444;
}
